body {
    font-family: Arial, sans-serif;
    background-color: #1a001f; /* Tom mais escuro de roxo */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2a002a; /* Tom ainda mais escuro de roxo */
    color: #e0e0e0;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: none;
}

@media (max-width: 768px) {
    iframe {
        height: 315px;
    }
}

a {
    color: #b388eb; /* Cor de link com contraste */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
